body{
text-align: center;

}

#container {
    height: 500px;
    width: 800px;
    border: 1px solid black;
    margin: 0 auto ;

}
#top {
    height: 300px;
    width: 800px;
    border: 1px solid black;
    margin: 0 auto ;

}

#down1{
    position: absolute;
    height:197px;
    width:400px;
    left: 182px;
  

}
#down2{
        position: absolute;
    height:197px;
    width: 325px;
   left: 657px;
    border: 1px solid black;
    margin: 0 auto ;

}

#down1 button{
	margin-top: 150px;
	
}
